<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dogs</title>
</head>
<link rel="stylesheet" th:href="@{/css/dogs.css}">
<body>

<nav>
    <a th:href="@{/owners}">Owners</a>
    <a th:href="@{/dogs}">Dogs</a>
    <a th:href="@{/playgroups}">Playgroups</a>
</nav>

<h1>Dogs</h1>

<a th:href="@{/dogs/add}">
    <button>Add Dog</button>
</a>

<table border="1">

    <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Owner</th>
        <th>Actions</th>
    </tr>

    <tr th:each="dog : ${dogs}">
        <td th:text="${dog.name}"></td>
        <td th:text="${dog.breed}"></td>
        <td th:text="${dog.age}"></td>
        <td th:text="${dog.owner != null ? dog.owner.firstName + ' ' + dog.owner.lastName : 'No Owner'}"></td>

        <td>
            <a th:href="@{/dogs/edit/{id}(id=${dog.id})}">Edit</a>
            <a th:href="@{/dogs/delete/{id}(id=${dog.id})}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>