<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owner Form</title>
</head>
<link rel="stylesheet" th:href="@{/css/owner-form.css}">
<body>

<h1>Owner Form</h1>

<form th:action="@{/owners/save}" th:object="${owner}" method="post">

    <!-- REQUIRED FOR EDIT -->
    <input type="hidden" th:field="*{id}" />

    <div>
        <label>First Name</label>
        <input type="text" th:field="*{firstName}" required>
    </div>

    <br>

    <div>
        <label>Last Name</label>
        <input type="text" th:field="*{lastName}" required>
    </div>

    <br>

    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}">
    </div>

    <br>

    <div>
        <label>Phone</label>
        <input type="text" th:field="*{phone}">
    </div>

    <br>

    <button type="submit">Save Owner</button>

</form>

<br>

<a th:href="@{/owners}">Back</a>

</body>
</html>