<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Playgroups</title>
</head>
<link rel="stylesheet" th:href="@{/css/playgroup.css}">
<body>

<nav>
    <a th:href="@{/owners}">Owners</a>
    <a th:href="@{/dogs}">Dogs</a>
    <a th:href="@{/playgroups}">Playgroups</a>
</nav>

<h1>Playgroups</h1>

<a th:href="@{/playgroups/new}">
    <button>Add Playgroup</button>
</a>

<table border="1">

    <tr>
        <th>Name</th>
        <th>Activity</th>
        <th>Size Limit</th>
        <th>Actions</th>
    </tr>

    <tr th:each="pg : ${playgroups}">
        <td th:text="${pg.groupName}"></td>
        <td th:text="${pg.activityType}"></td>
        <td th:text="${pg.sizeLimit}"></td>

        <td>
            <a th:href="@{/playgroups/edit/{id}(id=${pg.id})}">Edit</a>
            <a th:href="@{/playgroups/delete/{id}(id=${pg.id})}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>